{% extends "please_marketing_growth_hack/base_site.html" %}

{% block title %} 404 {% endblock title %}

{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% endblock meta %}

{% block content %} {% load static %}

        <main id="main" class="padding-top-30">
            <section id="advantages">
                <div class="container">
                    <h1 class="padding-top-10 padding-bottom-10">Ouuups 😒! </h1>
                    <h1 class="padding-top-10 padding-bottom-10">Il n'y a rien sur cette page. Pensez à bien renseigner la référence de votre commerce dans l'URL !</h1>
                    <div class="row">
                    </div>
                </div>
            </section>
        </main>


{% endblock content %}